<h1>Cookbook (DRAFT)</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!recipes"><em>Loading...</em></p>

<table class='table' *ngIf="recipes">
  <thead>
    <tr>
      <th>Dish</th>
      <th>Description</th>
      <th>Minutes To Prepare</th>
      <th>Quality Stars</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let recipe of recipes">
      <td>{{ recipe.dish}}</td>
      <td>{{ recipe.description }}</td>
      <td>{{ recipe.minutesToPrepare }}</td>
      <td>{{ recipe.qualityStars }}</td>
    </tr>
  </tbody>
</table>
